# ----------------------
# Angular / Front-end
# ----------------------
node_modules/
dist/
*.log

# ----------------------
# .NET / Back-end
# ----------------------
bin/
obj/
.vs/
*.user
*.suo
*.pdb
*.log
