<div class="container">
  <h2>Novo Colaborador</h2>

  <form (ngSubmit)="save()" #colabForm="ngForm">
    <input 
      type="text" 
      placeholder="Nome" 
      [(ngModel)]="nome" 
      name="nome" 
      required
    />

    <select 
      [(ngModel)]="selectedWorkshopId" 
      name="workshop" 
      required
    >
      <option [ngValue]="null" disabled selected>Selecione um Workshop</option>
      <option *ngFor="let w of workshops" [value]="w.id">
        {{ w.nome }}
      </option>
    </select>

    <button type="submit" [disabled]="colabForm.invalid">Salvar</button>
  </form>
</div>
